<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{{ day }} Deals</title>
  <link rel='stylesheet' media='all' type='text/css' href='static/inviscss-1.6.6/css/inviscss.min.css'>
  <link rel='stylesheet' type='text/css' href='static/main.css'>
</head>

<body>
  <div class='container'>
    <a href='/'><button class='primary'>Home</button></a>
    <h1>{{ day }}</h1>
  </div>

  <table>
    <tr>
      <th>Location</th>
      <th>Deal</th>
    </tr>
    {% for deal in deals %}
    <tr>
      <td>{{ deal.location}}</td>
      <td>{{ deal.deal }}</td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
