<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <meta charset='utf-8'>
  <title> GimmeDeals, Right Now!</title>
  <link rel='stylesheet' type='text/css' href='static/main.css'>
</head>

<body>
  <div class='container'>
    <a href='/requested'><button class='primary'>Requested</button></a>
    <h1>{{ day }}</h1>
  </div>
  <div class='container' id='weekdays'>
    <div class='center-md center-lg table'>
      <div class='td'>
        {% for day in weekdays %}
        <div class='container day'>
            <button class='primary dayButton'>{{ day }}</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class='container'>
    <form id='dealForm' action='' class='stacked col-sm-8 center'>
      <select id='dropdown' required>
        <option value=''>Weekday..</option>
        {% for day in weekdays %}
        <option value="{{ day }}">{{ day }}</option>
        {% endfor %}
      </select>
      <input required id='location' placeholder='Location...' type='text' maxlength='50'>
      <input required id='deal' placeholder="What's this great deal?" type='text' maxlength='200'>
      <button type='submit'>Submit</button>
    </form>
  </div>


  <script src='static/jquery-3.2.1.min.js' type='text/javascript'></script>
  <script src='static/main.js' type='text/javascript'></script>
</body>
</html>
